body {
  background: #0a1f44;
}

.main-con {
  margin: 20px auto;
  width: 70%;
  color: white;
  text-align: center;
}

.header {
  cursor: pointer;
}

.details {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

form {
  color: white;
  font-size: 2em;
  display: flex;
}

#search {
  width: 70%;
}
